                                @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
                                @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
                                * {
                                    box-sizing: border-box;
                                }
                                
                                .container {
                                    width: 100%;
                                    max-width: 1440px;
                                    margin: 100px auto;
                                    font-family: 'Big Shoulders Display', cursive;
                                    font-size: 15px;
                                    background-color: hsl(0, 0%, 95%);
                                }
                                
                                .card {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    height: 500px;
                                }
                                
                                .card__wrap--outer {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    width: 65%;
                                    margin: 100px auto;
                                }
                                
                                .card__wrap--inner {
                                    display: flex;
                                    flex-direction: row;
                                    width: 100%;
                                    margin: 100px auto;
                                }
                                
                                .flexible {
                                    flex-grow: 1;
                                }
                                
                                img {
                                    max-width: 75px;
                                    align-self: flex-start;
                                    margin-left: 25px;
                                }
                                
                                .card-sedan {
                                    background-color: hsl(31, 77%, 52%);
                                }
                                
                                .sedan {
                                    color: hsl(31, 77%, 52%);
                                }
                                
                                .suv {
                                    color: hsl(184, 100%, 22%);
                                }
                                
                                .lux {
                                    color: hsl(179, 100%, 13%);
                                }
                                
                                .card-suv {
                                    background-color: hsl(184, 100%, 22%);
                                }
                                
                                .card-lux {
                                    background-color: hsl(179, 100%, 13%);
                                }
                                
                                p {
                                    color: hsla(0, 0%, 100%, 0.75);
                                    margin: 0px 25px 75px 25px;
                                    text-align: left;
                                }
                                
                                h2 {
                                    color: hsl(0, 0%, 95%);
                                    font-size: 36px;
                                    text-align: left;
                                    justify-content: left;
                                    align-items: flex-start;
                                    align-content: flex-start;
                                    margin-right: 170px;
                                }
                                
                                button {
                                    background-color: hsl(0, 0%, 95%);
                                    padding: 14px;
                                    margin-left: 25px;
                                    border-radius: 30px;
                                    display: block;
                                    width: 40%;
                                    cursor: pointer;
                                    font-family: 'Lexend Deca', sans-serif;
                                    align-self: flex-start;
                                }
                                
                                .suv-title {
                                    padding-right: 25px;
                                }
                                
                                @media(max-width: 650px) {
                                    .container {
                                        width: 100vw;
                                    }
                                    .card__wrap--outer {
                                        /* width: 35%; */
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    .card {
                                        display: flex;
                                        flex-direction: column;
                                        padding-left: 20px;
                                    }
                                    .card__wrap--inner {
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    h2 {
                                        font-size: 24px;
                                        /* margin-left: 15px; */
                                    }
                                }